[profile.default]
src = "src"
out = "out"
libs = ["lib"]
via_ir = true
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
tempo = "https://rpc.moderato.tempo.xyz"

[etherscan]
tempo = { key = "", chain = 42431, url = "https://explore.tempo.xyz/api" }
